<div class="container">
  <div class ="row">
    <div class="col-md-12 text-center mx-auto">
      <h2>
        それでは、この中から心惹かれる写真を選んでみましょう。<br>
        それがあなたの目的地です。
      </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class ="row">
    <% @spot.each do |spot| %>
      <div class="col-md-2 mx-auto">
        <%= link_to spot_path(spot.id) do %>
          <%= attachment_image_tag spot, :image, class: "image-middle",  fallback: "no_image.png" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>