<div class="container mt-0">
  <div class ="row">
    <div class="col-md-12 text-center">
      <h3>About <span class="about-logo">Joy-ney!</span> (ver.Hokkaido)</h3>
    </div>
  </div>
</div>

<div class="container mt-0">
  <div class ="row">
    <div class="col-md-12">
      <%= image_tag "About.jpg", class: "img-fluid" %>
    </div>
  </div>
</div>
<div class="container mt-2 mb-4">
  <div class ="row">
    <div class="col-md-3 mx-auto mt-0 text-center">
      <%= link_to choice1_spot_path, class: "link" do%>
        <span class="far fa-compass"></span>
        <span>旅先を決めに行く</span>
      <% end %>
    </div>
  </div>
</div>

