/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Road+Rage&display=swap');

.image-small {
  height: 200px;
  width:  200px;
  object-fit: contain;
  border-radius: 10px;
  border: 5px double #bc8f8f;
}

.image-middle {
  height: 300px;
  width:  300px;
  object-fit: contain;
  border-radius: 10px;
  border: 5px double #bc8f8f;
}

.image-large {
  height: 600px;
  width:  600px;
  object-fit: contain;
  border-radius: 10px;
  border: 5px double #bc8f8f;
}

.header {
  background-image: image-url("header,footer2.jpg");
  background-size: cover;
  background-position: 30% 50%;
  font-family: 'Road Rage', cursive;
}

body {
  font-family: 'Noto Serif JP', serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.link {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  font-size: 20px;
  color: #a0522d;
  background: #FFF;
  border: double 3px #8b4513;
  border-radius: 10px;
}

.question {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #FFF;
  border: double 3px #8b4513;
  border-radius: 10px;
  background-color: transparent;
}

.question-small {
  padding: 0.3em;
  margin: 1em;
  background: #FFF;
  border: double 3px #8b4513;
  border-radius: 10px;
  background-color: transparent;
}

.question-icon {
  color: #a0522d;
  font-size: 30px;
}

.question-text {
  font-weight: bold;
  font-size: 30px;
  color: #a0522d;
  font-family: 'Noto Serif JP', serif;
}

.question-text-small {
  font-weight: bold;
  font-size: 15px;
  color: #a0522d;
  font-family: 'Noto Serif JP', serif;
  text-align: center
}

.display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.footer {
  height: 50px;
  width: 100%;
  background-image: image-url("header,footer2.jpg");
  background-size: cover;
  background-position: 30% 60%;
  position: absolute;
  bottom: 0;
  font-family: 'Road Rage', cursive;
}

.title {
  font-size: 90px;
  line-height: 85%;
  -webkit-text-stroke: 1px #f5deb3;
  color: #cd853f;
}

.title-flavor {
  font-size: 30px;
  color: #f5deb3;
}

.footer-text {
  font-size: 30px;
  color: #fff;
}
